<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data- target="#navbar1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SachOnline</a>
    </div>  

    <div class="collapse navbar-collapse" id="navbar1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="@Url.Action("Index", "SachOnline")">TRANG CHỦ</a> </li>
            <li class="active"><a href="#">GIỚI THIỆU</a> </li>
            <li class="active"><a href="#">LIÊN HỆ</a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">Người dùng<span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="@Url.Action("DangKy", "Account")">Đăng ký</a>
                    <a href="@Url.Action("DangNhap", "Account")">Đăng nhập</a>
                </div>
            </li>
            <li>
                @Html.Action("GioHangPartial","GioHang")"
            </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm">
            </div>
            <button type="submit" class="btn btn-default">Tìm</button>
        </form>
    </div>
    <!--Tìm kiếm-->
</div>
<!--End-Phần tìm kiếm-->