@model SachOnline.Models.CHUDE

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="table-responsive" style="margin:0px auto;">
    <table class="table">
        <h4 class="card-title" style="text-align:center; font-size:25px; color:red;">Xóa chủ đề @Model.TenChuDe</h4>
        <tr>

            <th scope="col">Tên chủ đề</th>
            <th scope="col">#</th>
        </tr>


        <tr>
            <td>@Model.TenChuDe</td>

            <td>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">

                        <input type="submit" value="Delete" class="btn btn-success btn-tone m-r-5" />
                        <button class="btn btn-success btn-tone m-r-5"> @Html.ActionLink("Back to List", "Index")</button>

                    </div>
                }
            </td>
        </tr>


    </table>
</div>



