@model SachOnline.Models.CHUDE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SỬA CHỦ ĐỀ</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Tên chủ đề
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TenChuDe)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.MaCD }) 
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
