﻿@model IEnumerable<SachOnline.Models.GioHang>
@{
    ViewBag.Title = "GioHangPartial";

}

<a href="@Url.Action("GioHang","GioHang")" style="color : white; font-weight: bold;text-decoration:none">
    <img src="~/Style/Images/Giohang.gif">
    Giỏ Hàng (@ViewBag.TongSoLuong)
</a>

