@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red; text-align:center; font-weight:bold;">XÁC NHẬN ĐƠN HÀNG</h2>
<h3 style="font-family:'Times New Roman'">Đơn hàng của quý khách đã được chúng tôi ghi nhận, chúng tôi sẽ liên hệ quý khách trong thời gian 3 ngày kể từ thời điểm quý khách đặt hàng.</h3>
<p style="font-family:'Times New Roman'; font-size:25px;text-align:right ; font-style: italic;">Xin cảm ơn sự ủng hộ của quý khách </p>
<p>
    <button class="btn btn-secondary m-r-5"><a> @Html.ActionLink("VỀ TRANG CHỦ", "Index", "SachOnline")</a></button>
       
</p>