
@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <title>Đăng nhập tài khoản</title>
    @Styles.Render("~/Content/Admin/css")
</head>
<body>
    <div id="wrapper">
        <form action="~/Account/DangNhap" method="post" id="form-login">
            <h1 class="form-heading">Form đăng nhập</h1>
            <p style="font-style:italic;  color:red;  margin:0px;">@ViewBag.ThongBao</p>
            <div class="form-group">
                <i class="far fa-user"></i>
                <input type="text" class="form-input" name="TenDN" placeholder="Tên đăng nhập">
                <p style="color:red;">@ViewData["Err1"]</p>
            </div>
            <div class="form-group">
                <i class="fas fa-key"></i>
                <input type="password" class="form-input" name="MatKhau" placeholder="Mật khẩu">
                <pstyle="color:red;">@ViewData["Err2"]</pstyle="color:red;">
                <div id="eye">
                    <i class="far fa-eye"></i>
                </div>
            </div>
            <input type="submit" value="Đăng nhập" class="form-submit">
        </form>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</html>